@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Wakanda Coffee Shop!</h2> <br />

        <div class="image">
            <img src="~/Images/woman_drinking_coffee.jpg" alt="Coffee" style="width:20em;height:20em;">
        </div>

        @*<button type="button" onclick=   ></button>*@
        <a href="/Home/UserRegistrationPage">Register New User</a>


    </div>
</div>