@{
    ViewBag.Title = "Home Page";
}
   <h2>Welcome to the Wakanda Coffee Shop!</h2> <br />

    <div>
        <img src="~/Images/woman_drinking_coffee.jpg" alt="Coffee" style="width:20em;height:20em;">
    </div>

    <br />
    <a href="/Home/UserRegistrationPage">Register New User</a>
